<div>
  <%= flash[:notice] %>
</div>

<%= render 'books/list',{user: @user,book: @book} %>

<h2>Books</h2>
<table>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
  <% @user1.books.each do |book| %>
  <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
    <td><%= book.title%></td>
    <td><%= book.body%></td>
  </tr>
  <% end %>
</table>